<mat-toolbar color="primary">
  <div class="logo">
    <button mat-button color="primary"><a href="#">Jetlagged</a></button>
  </div>
  <nav class="menu">
    <ul>
      <li>
        <button mat-button><a href="#">Home</a></button>
      </li>
      <li>
        <button mat-button><a href="#">About</a></button>
      </li>
      <li>
        <button mat-button><a href="#">Users</a></button>
      </li>
      <li>
        <button mat-button><a href="#">Contact</a></button>
      </li>
    </ul>
  </nav>
  <!-- <router-outlet></router-outlet> -->
</mat-toolbar>
