@import './src/variables.scss';

.mat-toolbar {
  .logo {
    flex: 1 1 0;
    padding: 20px;
    button {
      font-size: 32px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .menu {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 20px;
        button {
          font-size: 16px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}



