<mat-toolbar color="accent">
  <div class="logo">
    <button mat-button color="primary"><a href="#">Jetlagged</a></button>
  </div>
  <nav class="menu">
    <ul>
      <li>
        <button mat-button color="primary"><a href="#">Home</a></button>
      </li>
      <li>
        <button mat-button color="primary"><a href="#">Examples</a></button>
      </li>
      <li>
        <button mat-button color="primary"><a href="#">Contact</a></button>
      </li>
    </ul>
  </nav>
  <!-- <router-outlet></router-outlet> -->
</mat-toolbar>
