.mat-toolbar {
  background: #14001F;
  color: #fff;
  .logo {
    flex: 1 1 0;
    padding: 20px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .menu {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 20px;
        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            border-bottom: 2px solid #FFBF00;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}



