@import './src/variables.scss';

* {
  background: #F8F8FF;
}

h1 {
  color: $primary-color;
}

.hero {
  width: auto;
  height:600px;
  background-image: url('../../assets/img/travel.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin: auto;
  padding: 0;
}

  .info-1 {
   width: 100%;
   height: auto;
   display: flex;

    .text {
      width: 65%;
      padding: 30px;
      margin: 0 auto;
      text-align: center;
      h1 {
        padding: 20px;
        color: #3f51b5;
      }
      p {
        padding: 5px;
        font-size: 18px;
        line-height: 1.5em;
      }
    }
   .user-card {
    width: 35%;
    padding: 30px;
    .example-card {
      // max-width: 300px;
      padding: 30px;
      mat-card-title {
        color: $primary-color;
        text-align: center;
      }
    }
  }
  }
.info-2 {
  width: 100%;
  height: auto;
  display: flex;

  .user-card-2 {
    padding: 30px;
    .example-card-2 {
      max-width: 300px;
      padding: 30px;
      .example-header-image {
        background-image: url('../../assets/img/mojo.jpg');
        background-size: cover;
      }
    }
  }
  .text-2 {
    width: 65%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    h1 {
      padding: 20px;
      color: #3f51b5;
    }
    p {
      padding: 5px;
      font-size: 18px;
      line-height: 1.5em;
    }
  }
}

// .example-container {
//   display: flex;
//   flex-direction: column;
// }

// .example-container > * {
//   width: 100%;
// }
