<div class="hero"></div>

<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
  <mat-tab label="Start Your Adventure">

    <div class="info-1">
      <div class="text">
        <h1>Every Journey Begins With A Single Step</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo est enim alias repudiandae minus corrupti ad
          ipsam, numquam, ratione magni aliquid iure accusantium nostrum quibusdam. Dolore distinctio commodi dolores
          quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error aliquid autem repudiandae nesciunt ex
          libero, eaque laborum quia nisi facere tempora maxime vel cumque odio asperiores adipisci delectus amet iure!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita necessitatibus sint, ab provident earum
          veniam ea, et officia sed error odio eaque accusantium nobis cum, harum ipsa tempore ullam excepturi
          similique maxime eveniet! Mollitia consequuntur facere expedita, ipsum amet possimus velit labore, quis in
          corporis itaque! Reiciendis assumenda impedit animi?</p>
      </div>
      <div class="user-card">
        <mat-card class="example-card">
          <mat-card-title>
            Keep Track of Everywhere You Go
          </mat-card-title>
          <img mat-card-image src="../../assets/img/bali.jpg" alt="Bali">
          <mat-card-content>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum voluptatem iste blanditiis
              consequatur, dolores iure. Inventore quis necessitatibus quaerat itaque suscipit illo dolores.
              Ratione alias blanditiis, vero, numquam earum ipsa possimus nesciunt modi quidem rerum sint?
              Repellendus deleniti officia a?
            </p>
          </mat-card-content>
          <mat-card-subtitle>My Next Journey:</mat-card-subtitle>
          <ul>
            <li>Mexico</li>
            <li>Fiji</li>
            <li>Croatia</li>
          </ul>
        </mat-card>
      </div>
    </div>


    <mat-divider color="primary"></mat-divider>

    <div class="info-2">
      <div class="user-card-2">
        <mat-card class="example-card-2">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Mojo Jojo</mat-card-title>
            <mat-card-subtitle>School teacher</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src='../../assets/img/granada.jpg'>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">LIKE</button>
            <button mat-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="text-2">
        <h1>Create a Bio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aspernatur repellendus ut saepe
          deleniti. Debitis ipsa fugit recusandae quo nostrum, ex eveniet, soluta, suscipit perferendis atque dicta
          laboriosam? Tempore, quaerat voluptatum consequatur dolorem reiciendis quo reprehenderit recusandae id cumque
          nulla maxime illo provident voluptates voluptate modi. Neque obcaecati incidunt quos.</p>
      </div>
    </div>

    <mat-divider color="primary"></mat-divider>
    <div class="info-3">
      <h1>Dashboard</h1>
      <mat-card>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mojo Jojo</mat-card-title>
        <mat-card-subtitle>School teacher who takes advantage of summers off</mat-card-subtitle>

        <h4>Select the Next Country</h4>
        <!-- <mat-form-field>
          <mat-select placeholder="Next Country">
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{country.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </mat-card>
    </div>

  </mat-tab>
  <mat-tab label="How It Works">

    <h1>Sign Up</h1>

    <!-- <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    </div> -->

  </mat-tab>
  <mat-tab label="Keep Track Of Everyone">Content 3</mat-tab>
</mat-tab-group>
